.MenuWrap {
    background-color: indigo;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding: 01rem
}

.ListItem,
.LastItem {
    color: #ebebeb;
    text-decoration: none
}

.ListItem {
    margin-right: 1rem
}

.LastItem {
    margin-left: auto
}

.Text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 70%;
    word-break: keep-all
}

.Link {
    font-weight: 600;
    padding: 0.5%;
    background-color: aliceblue;
    border: dotted;
    border-color: #ebebeb;
    color: indigo;
    text-decoration: none
}

.Red {
    font-weight: 600;
    color: darkred
}
